@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My favorite song</h1>
    <p>This is a song by Tmamzight language from north Africa</p>

    <a href=""></a>
</div>
<div class="yutube_vd">
    <iframe width="800" height="600" src="https://www.youtube.com/embed/YNhoHikGemk
"></iframe>
</div>
<p><button onclick="myMove()">Click Me</button></p>

<div id="container">
    <div id="animate"></div>
</div>
